<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title><%= user.username %>'s profile</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<% include ./partials/menu.ejs %>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> <%= user.username %>'s account deletion</h3>
			<p>
						<strong>username</strong>: <%= user.username %><br/>
						<strong>email</strong>: <%= user.email %><br/>
						<strong>admin rights</strong>: <%= user.admin %><br/>
						You are about to delete this account, are you sure ?
			</p>


				<form action="/delete/:<%= user.username %>" method="post">
					<a href="/account/:<%= user.username %>"  class="btn btn-primary btn-lg">Cancel</a>
					<button type="submit" class="btn btn-danger btn-lg">Delete</button>
				</form>
			</div>
		</div>

	</div>

</div>
	<% include ./partials/footer %>
</body>
</html>
