<!-- views/plugin.ejs -->
<!doctype html>
<html>
<head>
	<title><%= pluginfile.name %></title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> <%= pluginfile.name %> </h1>
		<% include ./partials/menu.ejs %>
	</div>

	<div class="row">

		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-cube"></span> Plugin</h3>
					<p>
						<strong> <%= pluginfile.name %></strong><br/>
						<strong>Author</strong>: <%= pluginfile.author %> <br/>
					  <strong>Version</strong>: <%= pluginfile.version %> <br/>
						<%= pluginfile.description %> <br/>
						<strong>Size</strong>:<%= pluginfile.size /10000 %> MB <br/>
					</p>
				<a href="/download/:<%= pluginfile.id %>"  class="btn btn-primary btn-lg">Download</a>
			</div>
		</div>

	</div>

</div>
	<% include ./partials/footer %>
</body>
</html>
